/* 1.3 */
    h1 {
        color: aqua;
        font-size: 30px;
    }
/* 1.4 */
    #Red {
        color: red;
    }
    .greensize20px {
        color: green;
        font-size: 20px;
    }
/* 1.5 */
    .box1-5 {
        width: 25%;
        height: 1in;
        background-color: black;
    }
/* 1.6 */
    .box1-6 {
        background-color: red;
        width: 150px;
        height: 150px;
        padding: 10px;
        border-top: 30px solid blueviolet;
        margin: 20px;
    }
/* 1.7 */
    .box1-7 {
        background-color: blue;
        color: aliceblue;
        width: 100px;
        height: 100px;
        padding: 10px;
        border: 5px solid blueviolet;
        text-align:center;
        font-size: 20px;
        box-sizing: border-box;
    }
/* 1.8 */
    .box1-8 {
        background-color: black;
        width: 200px;
        height: 200px;
        padding: 10px;
        border: 5px solid green;
        margin-top: 10px;
        background-clip: padding-box;
        background-image: url(https://yt3.googleusercontent.com/yQFwJyl_I4FV10WjImxSN22xL0EuecQAAf3Zt5lNslPZEgFongWZF2bg1fmRvoiSLkp4LNK9=s160-c-k-c0x00ffffff-no-rj);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    